.container-xl {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  padding: 20px;
  margin-top: 10%;

  .table-responsive {
    margin: 30px 0;
    .table-wrapper {
      background: #fff;
      padding: 20px 25px;
      border-radius: 3px;
      min-width: 1000px;
      box-shadow: 0 1px 1px rgb(0 0 0 / 5%);

      .table-title {
        padding-bottom: 15px;
        background: #5906be;
        color: #fff;
        padding: 16px 30px;
        min-width: 100%;
        margin: -20px -25px 10px;
        border-radius: 3px 3px 0 0;
        .btn {
          color: #ffffff;
          float: right;
          font-size: 14px;
          border: none;
          min-width: 75px;
          border-radius: 5px;
          border: none;
          outline: none !important;
          margin-left: 10px;
          i {
            float: left;
            font-size: 21px;
            margin-right: 5px;
          }
          span {
            float: left;
            margin-top: 2px;
          }
        }
      }
      .table-content {
        .center-align {
          text-align: center;
        }
        .delete {
          color: #f44336;
          padding: 5px;
        }
        .edit {
          color: #efb712;
          padding: 5px;
        }
        .view {
          color: #06854c;
        }
      }
    }
  }
}
